:root {
  --bg-color: #F2F2F2;
  --secondary-bgcolor: #EAE4D5;
  --headercolor: black;
  --font-color: #000000;
  --border-color: #B6B09F;
  --button-color: #254D70;
  --button-hover: rgb(94, 94, 190);

}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--bg-color);
  color: #1A1A1A;
  box-sizing: border-box;
}

.main {
  width: 100vw;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  /* align-items: center; */


}

nav {
  padding: 0px 50px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* position: fixed; */
  background-color: var(--headercolor);
  color: #4B5563;
}

nav h1 {
  color: white;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.37em;
  font-weight: 500;
}

.hero {
  /* position: absolute; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 150px 80px 20px 80px;
  flex-wrap: wrap;
  margin: 10px 60px 20px 40px;
}

.hero-text {
  max-width: 37.5rem;
}

.hero-text h2 {
  font-size: 3em;
  margin-bottom: 0.67rem;
}

.hero-text h3 {
  font-size: 2.25em;
  margin-bottom: 1.25rem;
}

.gradient-text {
  background: linear-gradient(to right, #b26eff, #20c2f8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-text p {
  font-size: 1em;
  color: #424242;
  margin-bottom: 1.875rem;
}

.btn {
  background: var(--button-color);
  color: white;

  padding: 14px 28px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
  position: relative;
  top: 30px;
}

.btn:hover {
  opacity: 0.9;
  background-color: var(--button-hover);
}

.hero-img {
  width: 100%;

}

.hero-img img {
  height: 350px;
  max-width: 300px;
  border-radius: 4%;
  border: 8px solid transparent;
  /* background: #D1D5DB; */
}

.colorbtn {
  position: relative;
  bottom: 100px;
  /* right:   200px; */
}








/* skills */


.skills {
  margin: 55px;
  padding: 80px 0px 10px;
}

.skills h2 {
  font-size: 35px;
}

.skillbox {
  margin: 80px 90px;

  height: 400px;
  width: 85%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.skillbox .box {
  box-sizing: border-box;

  height: 100%;

  border: 2px solid transparent;

  /* Gradient border */
  border-image: linear-gradient(to right, #b26eff, #20c2f8);
  border-image-slice: 1;
  padding: 20px;
  display: flex;
  /* border-radius: 50%; */


  flex-direction: column;
  align-items: center;

}

.skillbox .box h3 {
  height: 40px;
  width: 100%;
  position: relative;
  top: -44px;
  text-align: center;
  font-size: 37px;
  font-weight: 800;
}

.skillbox .box>div {
  height: 220px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: relative;
  top: -30px;



}

.skillbox .box .one {
  height: 50%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skillbox .box .one img {
  height: 80%;
  background-size: cover;
}

.skillbox .box .one p {
  font-size: x-large;
  font-weight: 700;
  margin-top: 10px;
}

.softboxes {
  height: 300px;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 90px;
}

.softboxes p {
  font-size: 30px;
  font-weight: bold;
}

.softboxes .first {
  width: 45%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.softboxes .first .time {
  display: flex;
  gap: 30px;
  align-items: center;
}

.softboxes .first .problem {
  display: flex;
  gap: 30px;
  align-items: center;
}


.softboxes .second {
  display: flex;
  width: 48%;
  /* margin-left:20px ; */
  justify-content: flex-end;
  flex-direction: column;
}

.softboxes .second .alig {
  display: flex;
  gap: 30px;
  align-items: center;
}

.softboxes .second .communication {
  display: flex;
  gap: 30px;
  align-items: center;
}

.cirlce {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: linear-gradient(to right, #b26eff, #20c2f8);
}



/* skills end */






/* projects start  */
.projects {
  margin: 0px 55px;
  box-sizing: border-box;
  padding: 50px 0px;
}

.projectboxes {
  margin: 10px 60px;
  height: 400px;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;

}


.projects h2 {
  font-size: 40px;
}

.projectboxes .box {
  height: 100%;
  width: 30%;
  border: 1px solid #D1D5DB;
  border-radius: 10px;
  padding: 20px;
  padding-top: 20px;
  box-sizing: border-box;

}

.projectboxes .box:hover {
  transform: scale(1.04);
  border: 4px solid var(--button-hover);
}

.projectboxes .box img {
  height: 120px;
  width: 100%;
  background-size: cover;
  border-radius: 10px;
  background-color: #20c2f8;
}

.projectboxes .box div {
  display: flex;
  justify-content: space-around;
}

.projectboxes .box div button {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
  background-color: var(--button-color);
}



/* projects end  */


/* contact start  */

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact h2 {
  font-size: 3rem;

}

.contact .note {
  background: linear-gradient(to right, #b26eff, #20c2f8);
  -webkit-text-fill-color: transparent;
  font-size: 30px;
}

.contact .pageslink {
  list-style-type: none;
  display: flex;
}

.contact .pageslink li a {
  text-decoration: none;
  font-size: 20px;
  color: var(--font-color);
  padding: 15px;
}

.socialmedia {
  display: flex;
  flex-direction: row;
}

.socialmedia li {
  list-style: none;
  text-decoration: none;
  height: 30px;
  width: 30px;
  padding: 20px;


}

.socialmedia li a {
  height: 10px;
  width: 10px;
  border-radius: 50%;

}

.socialmedia li a img {
  height: 100%;
  width: 100%;
}


/* extra hamburgfor header */
.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  z-index: 1001;
  position: relative;
  top: 30px;
  right: 15px;
}

.hamburger span {
  height: 3px;
  width: 110%;
  background: white;
  border-radius: 10px;
  transition: 0.3s;
}

/* Toggle to X */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) 
  translate(6px ,6px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg)
  translate(7px,-7px);
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 4px;
    background-color: grey;
    color: black;
    width: 30%;
    padding: 20px;
  }

  .nav-links.active {
    /* background-color: red; */
    display: flex;
  }

  .nav-links li {
    margin: 1px 0;
  }
}

/* extra hamburg end */



/* responsiveness */

@media (max-width: 768px) {
  header {
    width: 100%;
    /* position: fixed; */
    /* top: 0; */
    /* display: flex; */
    /* justify-content: space-evenly; */
    /* z-index: 1; */
    /* align-items: center; */


  }

  nav {
    padding: 0px 20px;
    /* box-sizing: border-box; */
    width: 100%;
    /* display: flex; */
    /* justify-content: space-between; */
    /* position: fixed; */
    background-color: var(--headercolor);
    color: #4B5563;
  }

  nav h1 {
    color: white;
  }

  nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.37em;
    font-weight: 500;
  }

  .hero {
    /* position: absolute; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0px 20px 0px;
    flex-wrap: wrap;
    margin: 10px 20px 20px 20px;
  }

  .hero-img {
    width: 100%;
    margin-top: 60px;
  }

  .hero-img img {
    height: 350px;
    max-width: 300px;
    border-radius: 4%;
    border: 0px solid transparent;
    /* background: #D1D5DB; */
  }




  .skills {
    margin: 0px 20px;
    padding: 50px 0px 10px;
  }


  .skillbox {
    margin: 48px 10px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }


  .skillbox .box {
    /* box-sizing: border-box; */
    height: 100%;
    width: 17rem;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #b26eff, #20c2f8);
    border-image-slice: 1;
    padding: 15px;
    /* display: flex; */
    /* border-radius: 50%; */
    flex-direction: column;
    align-items: center;
    margin: 8px;
  }

  .skillbox .box h3 {
    height: 35px;
    width: 100%;
    /* background-color: #b26eff; */
    position: relative;
    top: -44px;
    text-align: center;
    font-size: 1.8em;
    font-weight: 700;
    margin: 29px;
  }







  .skillbox .box>div {
    height: 220px;
    width: 100%;
    /* padding: 10px; */
    display: flex;
    /* border: 1px solid red; */
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: relative;
    top: 10px;
  }

  .skillbox .box .one {
    height: 35%;
    width: 40%;
    /* border: 1px solid #ccc; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .softboxes {
    height: auto;
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: flex-start; */
    margin: 0px 10px;
  }

  .softboxes .first {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }

  .softboxes .second {
    /* border: 1px solid rgb(43, 255, 0); */
    display: flex;
    width: 100%;
    /* margin-left: 20px; */
    justify-content: flex-end;
    flex-direction: column;
  }

  .softboxes p {
    font-size: 20px;
    font-weight: 700;
  }

  .prob {
    padding: 0 4px;
  }

  .projects {
    margin: 0px 23px;
    /* box-sizing: border-box; */
    padding: 70px 0px 0 0;
  }

  .projectboxes {
    margin: 20px 0px;
    /* border: 1px solid burlywood; */
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* box-sizing: border-box; */
    /* overflow-y: scroll; */
  }

  .projectboxes .box {
    height: 100%;
    width: 100%;
    border: 1px solid #D1D5DB;
    border-radius: 10px;
    padding: 20px;
    padding-top: 20px;
    box-sizing: border-box;
    margin-top: 10px;
  }

  .contact {
    margin: 0px 20px;
    display: flex;
    padding: 30px 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .contact .note {
    background: linear-gradient(to right, #b26eff, #20c2f8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    text-align: center;
    margin: 0 0 30px 0;
  }

  .contact .pageslink {
    width: 100%;
    list-style-type: none;
    display: flex;
    text-align: center;
    padding: 0;
    margin: 0px;
  }

  .contact .pageslink li a {
    text-decoration: none;
    font-size: 11px;
    color: var(--font-color);
    padding: 7px;
    font-weight: 600;
    margin: 0px;
  }

  .socialmedia {
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    margin: 0px;
  }

  .creater {
    margin: 0px 0px 0 10px;
    font-size: 20px;
    text-align: center;
  }
}
